@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.Bestbooks {
  background-image: url(./../assets/images/images/Bestbooks.jpg);
  background-size: cover;
}

.Greatreads {
  background-image: url(./../assets/images/images/paperback.jpg);
  background-size: cover;
  background-position: 0px -100px;
  
}
.Bestart {
  background-image: url(./../assets/images/images/ART.jpg);
  background-size: cover;
  
}

.Kidsread {
  background-image: url(./../assets/images/images/kidsread.jpg);
  background-size: cover;
}

.Getlost {
  background-image: url(./../assets/images/images/Landscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -70px;
}


/* vignettes */

.Prince  {
  background-image: url(./../assets/images/images/Lilprince.jpg);
  background-size: cover;
  background-position: 0px -40px;
}

.Drowned {
  background-image: url(./../assets/images/images/drownedwoods.jpg);
  background-size: cover;
  background-position: 0px -20px;
}

.Room {
  background-image: url(./../assets/images/images/Theroom.jpg);
  background-size: cover;
  /* background-position: 0px 0px; */
  background-repeat: repeat;
}

.Harlem {
  background-image:  url(./../assets/images/images/harlem.jpg);
  background-size: cover;
  background-position: 0px 0px;
}

.Silouhette {
  background-image: url(./../assets/images/images/silouhette.jpeg);
  background-size: cover;
  background-position: 0px 0px;
}

.Gears {
  background-image: url(./../assets/images/images/gears.jpeg);
  background-size: cover;
  background-position: 0px 0px;
}

.Loved {
  background-image: url(./../assets/images/images/heart.jpg);
  background-size: 90%;
  background-position:10px 40%;
}

.Health {
  background-image: url(./../assets/images/images/health.jpeg);
  background-size: cover;
  
}

/* after below favourites */
.Separation:after {
  content: ''; /* Ensures the element renders */
  position: absolute;
  bottom: -5px; /* Positioned at the bottom */
  left: 0; /* Span the entire width */
  width: 100%;
  height: 1px; /* Set the desired thickness */
  background-color: #9c6644; /* Adjust color as needed */
  opacity: 30%;
}

.pulse {
  animation: pulse 0.3s ease-in-out infinite;
  color: red;

}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 100%;
  }
  50% {
    transform: scale(1.2);
    opacity: 50%
  }
  100% {
    transform: scale(1);
    opacity:15%
  }
}